html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  align-items: center;
}

#gameScreen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px; /* small spacing between tiles */
  background-color: #111;
  max-height: 280px;
}

#gameScreen {
  max-height: 280px;
}

#gameScreen table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100vw;
  max-width: 280px;
  aspect-ratio: 1 / 1;
}

#gameScreen td {
  padding: 1px;
}

#gameScreen img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.tile {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #333;
}

/* Start and Game Over screens centered */
#startScreen, #gameOverScreen, #topScoresScreen, #infoScreen{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
}
#startScreen img {
  width: 80%;
}

#gameOverScreen h1, #startScreen .caption {
  font-size: 1.5em;
  color: #fff;
}

#scoresList p {
  margin: 4px 0;
  font-size: 1.2em;
  width: 80%;
  align-items: center;
}
#scoresList{
  width: 80%;
}

.eitbittext {
  color: #0ff;
  text-shadow: 1px 1px 2px #000;
}

#softkeys {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}

#softkeys span {
  width: 33%;
  text-align: center;
}