
  /* .test{
    background: url('../taptiles2/images/startscreen.png') no-repeat;
    position: relative;
  } */

  body, html {
    height: 100%;
    background-color: #74c489;
  }
  
  .test {
    /* The image used */
    /* background-image: url("../images/startscreen.png"); */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
  }