@media (max-width: 240px){};
* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: eitbitfont;
  src: url('/fonts/8bitfont.ttf');
} */
html{
  height:100%;
  background-color: #000;
}
body{
  /* height: 100%; */
  margin: 0;
}
/* .test{
    background: green;
    background-size : cover;
    height: 100%;
    width:100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}
@font-face {
  font-family:"Name-Of-Font";
  src: url("fonts/8bitfont.ttf") format("truetype");
}
.eitbittext {
  font-family: "Name-Of-Font";
  font-size: 150%;
  text-align: center;
}
.buttonDiv{
  position:relative;
  top:100px;
  text-align: center;
} */
 /* .menuButton{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 70%;
  margin:auto;
  text-align: center;
} 
.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: xx-large;
}
.subTitle{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
} */

/* Grid testi */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #2196F3;
}
.row{
  flex: 33%;
  max-width: 33%;
}
.grid-item {
  max-width: 100%;
  /* margin-top: 0px;
  vertical-align: middle;
  width:30px;
  font-size: 30px;
  text-align: center; */
}