.square {
    height: 50px;
    width: 50px;
    background-color: blue;
    border: 2px;
    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 33.33%; /* Should be removed. Only for demonstration */
    background-color: blue;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 2px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .blinked{
      color:red;
  }