html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #135859;
  overflow: hidden;
  align-items: center;
}

/** GENERAL **/
#startScreen, #gameOverScreen, #topScoresScreen, #infoScreen{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

#gameOverScreen h1, #startScreen .caption {
  font-size: 1.5em;
  color: #fff;
}

.eitbittext {
  color: #0ff;
  text-shadow: 1px 1px 2px #000;
}

/** START SCREEN **/
#startScreen img {
  width: 80%;
}

/** GAME SCREEN **/
#gameScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tileWrapper table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100vw;
    max-width: 280px;
    aspect-ratio: 1 / 1;
}

.tileWrapper td {
    padding: 0;
}

.tileWrapper img {
    width: 100%;
    display: block;
}

#scoreDisplay {
    margin-top: 8px;
    font-size: 1.0em;
    color: white;
    text-align: center;
}

.tile {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #333;
}

/** TOP SCORES SCREEN **/
#topScoresScreen h1 {
    font-size: 1.5em;
    margin-top: 10px;
}

#scoresList p {
    margin: 4px 0;
    font-size: 1.2em; 
}

/** INFOR SCREEN **/

#infoScreen p {
  font-size: 0.6em;
  width: 80%;
}

/** SOFT KEYS **/
#softkeys {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}

#softkeys span {
  width: 33%;
  text-align: center;
}